/CodigosDasAulas/CodigoAula6TiposPrimitivosEManipulacaoDeDados/calculadoraIdade/nbproject/private/
/CodigosDosExercicios/Exercicios6/calculadoraIdade/nbproject/private/
/CodigosDosExercicios/Exercicios6/calculadoraIdade/build/
/CodigosDosExercicios/Exercicios6/DesafioCalcularIdade/nbproject/private/
/CodigosDosExercicios/Exercicios6/DesafioCalcularIdade/build/
/CodigosDasAulas/CodigoAula7OperadoresAritmeticosEClassMath/OperadoresAritmeticos/nbproject/private/
/CodigosDasAulas/CodigoAula7OperadoresAritmeticosEClassMath/OperadoresAritmeticos/build/
/CodigosDasAulas/CodigoAula7OperadoresAritmeticosEClassMath/OperadoresSwing/nbproject/private/
/CodigosDasAulas/CodigoAula7OperadoresAritmeticosEClassMath/OperadoresSwing/build/
/CodigosDasAulas/CodigoAula7OperadoresAritmeticosEClassMath/OperadoresSwing2/nbproject/private/
/CodigosDasAulas/CodigoAula7OperadoresAritmeticosEClassMath/OperadoresSwing2/build/
